/* Centrado del contenedor */
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6; /* Color de fondo general */
}

/* Estilos del formulario */
.loginForm {
  background-color: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
}

.inputField label {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.inputField input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background-color: #f9fafb;
  outline: none;
  transition: border 0.3s ease;
}

.inputField input:focus {
  border-color: #000000;
}

.checkboxField {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.checkboxField input {
  margin-right: 0.5rem;
}

.loginButton {
  background-color: #049774;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #037d5e; /* Un tono más oscuro del color verde */
}

.loginFooter {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.loginFooter a {
  color: #007BFF;
  text-decoration: none;
}

.loginFooter a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #888;
  text-align: center;
}
